<style>
  .padding-global {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  @media screen and (max-width: 767px) {
    .padding-global {
      padding-right: 1.25rem;
      padding-left: 1.25rem;
    }
  }
  .container-large {
    width: 100%;
    max-width: 85rem;
    margin-right: auto;
    margin-left: auto;
  }
  .tutorial_content {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  @media screen and (max-width: 479px) {
    .tutorial_content {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      grid-column-gap: 3rem;
      grid-row-gap: 3rem;
    }
  }
  .tutorial_content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
  .tutorial_content-img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
  }
</style>
  <div class="padding-global padding-section-small">
    <div class="container-large">
      <div class="tutorial_content">
        <div class="tutorial_content-left">
          <div>
{{ section.settings.text_text }}
</div>
          <h1>
{{ section.settings.text_heading }}
</h1>
          <p>
{{ section.settings.text_paragraph }}
</p>
          <a href="{{ section.settings.url_button_link }}"> {{ section.settings.text_button_text }} </a>
        </div>
        {% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: class: 'tutorial_content-img', alt: 'inherit', loading: 'lazy' }}
{% else %}
<img class="tutorial_content-img" alt="inherit" src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy">
{% endif %}
      </div>
    </div>
  </div> {% schema %} {
    "tag": "section",
    "name": "Tutorial",
    "class": "section_tutorial",
    "settings": [
        {
            "id": "text_text",
            "type": "text",
            "label": "Text",
            "default": "\n              This is some text inside of a div block.\n          "
        },
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "\n              Heading\n          "
        },
        {
            "id": "text_paragraph",
            "type": "text",
            "label": "Paragraph",
            "default": "\n              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.\n          "
        },
        {
            "id": "text_button_text",
            "type": "text",
            "label": "Button Text",
            "default": "\n              Button Text\n          "
        },
        {
            "id": "url_button_link",
            "type": "url",
            "label": "Button Link"
        },
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "Tutorial",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}